In [ ]:
!pip install auto-sklearn

In [ ]:
!pip install scipy==1.7.0

In [ ]:
from pprint import pprint

import sklearn.datasets
import sklearn.metrics
from sklearn.model_selection import train_test_split
import autosklearn.regression
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#table of data frame
data = pd.read_csv(r'/content/weather.csv')
data

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16738,0.08,2017-01-01,1,1,2017,Casper,CPR,"Casper, WY",Wyoming,23,32,15,23,19.98
16739,0.00,2017-01-01,1,1,2017,Cheyenne,CYS,"Cheyenne, WY",Wyoming,32,42,21,26,15.16
16740,0.00,2017-01-01,1,1,2017,Lander,LND,"Lander, WY",Wyoming,17,29,4,26,1.65
16741,0.06,2017-01-01,1,1,2017,Rawlins,RWL,"Rawlins, WY",Wyoming,23,31,13,24,18.16
16742,0.10,2017-01-01,1,1,2017,Sheridan,SHR,"Sheridan, WY",Wyoming,21,34,8,23,7.51

In [ ]:
#list of all column names and example of data
data.describe

<bound method NDFrame.describe of        Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
0                    0.00  2016-01-03           1             3       2016
1                    0.00  2016-01-03           1             3       2016
2                    0.16  2016-01-03           1             3       2016
3                    0.00  2016-01-03           1             3       2016
4                    0.01  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16738                0.08  2017-01-01           1             1       2017
16739                0.00  2017-01-01           1             1       2017
16740                0.00  2017-01-01           1             1       2017
16741                0.06  2017-01-01           1             1       2017
16742                0.10  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
0       Birmingham          BHM   Birmingham, AL       Alabama
1       Huntsville          HSV   Huntsville, AL       Alabama
2           Mobile          MOB       Mobile, AL       Alabama
3       Montgomery          MGM   Montgomery, AL       Alabama
4        Anchorage          ANC    Anchorage, AK        Alaska
...            ...          ...              ...           ...
16738       Casper          CPR       Casper, WY       Wyoming
16739     Cheyenne          CYS     Cheyenne, WY       Wyoming
16740       Lander          LND       Lander, WY       Wyoming
16741      Rawlins          RWL      Rawlins, WY       Wyoming
16742     Sheridan          SHR     Sheridan, WY       Wyoming

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
0                             39                         46
1                             39                         47
2                             46                         51
3                             45                         52
4                             34                         38
...                          ...                        ...
16738                         23                         32
16739                         32                         42
16740                         17                         29
16741                         23                         31
16742                         21                         34

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
0                             32                   33             4.33
1                             31                   32             3.86
2                             41                   35             9.73
3                             38                   32             6.86
4                             29                   19             7.80
...                          ...                  ...              ...
16738                         15                   23            19.98
16739                         21                   26            15.16
16740                          4                   26             1.65
16741                         13                   24            18.16
16742                          8                   23             7.51

[16743 rows x 14 columns]>

In [ ]:
il_data = data[data['Station.State']=='Illinois']
il_data

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
98,0.00,2016-01-03,1,3,2016,Chicago,ORD,"Chicago, IL",Illinois,25,30,20,28,12.16
99,0.00,2016-01-03,1,3,2016,Moline,MLI,"Moline, IL",Illinois,25,31,19,28,10.90
100,0.00,2016-01-03,1,3,2016,Peoria,PIA,"Peoria, IL",Illinois,29,35,22,28,8.20
101,0.00,2016-01-03,1,3,2016,Quincy,UIN,"Quincy, IL",Illinois,29,35,22,28,10.53
102,0.00,2016-01-03,1,3,2016,Rockford,RFD,"Rockford, IL",Illinois,24,30,18,28,9.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16527,0.17,2017-01-01,1,1,2017,Moline,MLI,"Moline, IL",Illinois,34,44,24,26,10.71
16528,0.44,2017-01-01,1,1,2017,Peoria,PIA,"Peoria, IL",Illinois,35,43,27,24,9.01
16529,0.28,2017-01-01,1,1,2017,Quincy,UIN,"Quincy, IL",Illinois,37,46,27,24,9.80
16530,0.13,2017-01-01,1,1,2017,Rockford,RFD,"Rockford, IL",Illinois,31,38,23,25,10.11
16531,0.22,2017-01-01,1,1,2017,Springfield,SPI,"Springfield, IL",Illinois,38,47,28,23,9.81

In [ ]:
il_data.describe

<bound method NDFrame.describe of        Data.Precipitation   Date.Full  Date.Month  Date.Week of  Date.Year  \
98                   0.00  2016-01-03           1             3       2016
99                   0.00  2016-01-03           1             3       2016
100                  0.00  2016-01-03           1             3       2016
101                  0.00  2016-01-03           1             3       2016
102                  0.00  2016-01-03           1             3       2016
...                   ...         ...         ...           ...        ...
16527                0.17  2017-01-01           1             1       2017
16528                0.44  2017-01-01           1             1       2017
16529                0.28  2017-01-01           1             1       2017
16530                0.13  2017-01-01           1             1       2017
16531                0.22  2017-01-01           1             1       2017

      Station.City Station.Code Station.Location Station.State  \
98         Chicago          ORD      Chicago, IL      Illinois
99          Moline          MLI       Moline, IL      Illinois
100         Peoria          PIA       Peoria, IL      Illinois
101         Quincy          UIN       Quincy, IL      Illinois
102       Rockford          RFD     Rockford, IL      Illinois
...            ...          ...              ...           ...
16527       Moline          MLI       Moline, IL      Illinois
16528       Peoria          PIA       Peoria, IL      Illinois
16529       Quincy          UIN       Quincy, IL      Illinois
16530     Rockford          RFD     Rockford, IL      Illinois
16531  Springfield          SPI  Springfield, IL      Illinois

       Data.Temperature.Avg Temp  Data.Temperature.Max Temp  \
98                            25                         30
99                            25                         31
100                           29                         35
101                           29                         35
102                           24                         30
...                          ...                        ...
16527                         34                         44
16528                         35                         43
16529                         37                         46
16530                         31                         38
16531                         38                         47

       Data.Temperature.Min Temp  Data.Wind.Direction  Data.Wind.Speed
98                            20                   28            12.16
99                            19                   28            10.90
100                           22                   28             8.20
101                           22                   28            10.53
102                           18                   28             9.73
...                          ...                  ...              ...
16527                         24                   26            10.71
16528                         27                   24             9.01
16529                         27                   24             9.80
16530                         23                   25            10.11
16531                         28                   23             9.81

[318 rows x 14 columns]>

In [ ]:
#Data after dropping unnecessary columns
X = il_data.drop(["Date.Year","Date.Full","Station.City","Station.Code","Station.Location","Station.State","Data.Temperature.Avg Temp","Data.Temperature.Max Temp","Data.Temperature.Min Temp"], axis = 1)
X

,Data.Precipitation,Date.Month,Date.Week of,Data.Wind.Direction,Data.Wind.Speed
98,0.00,1,3,28,12.16
99,0.00,1,3,28,10.90
100,0.00,1,3,28,8.20
101,0.00,1,3,28,10.53
102,0.00,1,3,28,9.73
...,...,...,...,...,...
16527,0.17,1,1,26,10.71
16528,0.44,1,1,24,9.01
16529,0.28,1,1,24,9.80
16530,0.13,1,1,25,10.11
16531,0.22,1,1,23,9.81

In [ ]:
#Target column to be predicted
y = il_data["Data.Temperature.Avg Temp"]
y

98       25
99       25
100      29
101      29
102      24
         ..
16527    34
16528    35
16529    37
16530    31
16531    38
Name: Data.Temperature.Avg Temp, Length: 318, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, random_state=1)

In [ ]:
#making the model ensemble limited to 120 seconds and no more than 30 seconds per individual model
automl = autosklearn.regression.AutoSklearnRegressor(
    time_left_for_this_task=300,
    per_run_time_limit=45,
    tmp_folder='/tmp/testing',
)
automl.fit(X_train, y_train, dataset_name='temp')

AutoSklearnRegressor(per_run_time_limit=45, time_left_for_this_task=300,
                     tmp_folder='/tmp/testing')

In [ ]:
print(automl.leaderboard()) #shows the best runs and their weights in the ensemble
#pprint(automl.show_models(), indent=4)

          rank  ensemble_weight               type      cost  duration
model_id
54           1             0.02   gaussian_process  0.016925  2.319225
61           2             0.36   gaussian_process  0.017198  2.169362
49           3             0.30   gaussian_process  0.017298  3.002860
55           4             0.26   gaussian_process  0.017787  1.883158
70           5             0.04   gaussian_process  0.018351  2.871039
4            6             0.02  gradient_boosting  0.074260  1.053048

In [ ]:
test_predictions = automl.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error

print("Sklearn AutoML R2 score:", sklearn.metrics.r2_score(y_test, test_predictions))
print("Sklearn AutoML Mean Absolute Error:", sklearn.metrics.mean_absolute_error(y_test, test_predictions))

Sklearn AutoML R2 score: 0.9697789461818883
Sklearn AutoML Mean Absolute Error: 2.57009450905025

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf_model = rf.fit(X_train,y_train)
rf_pred = rf_model.predict(X_test)

In [ ]:
print("Sklearn Random Forest Regressor R2 score:", sklearn.metrics.r2_score(y_test, rf_pred))
print("Sklearn Random Forest Regressor Mean Absolute Error:", sklearn.metrics.mean_absolute_error(y_test, rf_pred))

Sklearn Random Forest Regressor R2 score: 0.963065482572219
Sklearn Random Forest Regressor Mean Absolute Error: 2.7950000000000004

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

gb = GradientBoostingRegressor()
gb_model = gb.fit(X_train, y_train)
gb_pred = gb_model.predict(X_test)

In [ ]:
print("Sklearn Gradient Boosting Regressor R2 score:", sklearn.metrics.r2_score(y_test, gb_pred))
print("Sklearn Gradient Boosting Regressor Mean Absolute Error:", sklearn.metrics.mean_absolute_error(y_test, gb_pred))

Sklearn Gradient Boosting Regressor R2 score: 0.9519921195749972
Sklearn Gradient Boosting Regressor Mean Absolute Error: 3.0745302720792664